
.float-left{
    float: left;
}

.float-right{
    float: right;
}

@font-face {
    font-family: "Fira sans";
    src: url('fonts/firasans-regular.otf') format("opentype");
    src: url('fonts/firasans-regular.woff') format('woff');
    src: url('fonts/firasans-regular.ttf') format('truetype');
}

@font-face {
    font-family: "Fira sans bolditalic";
    src: url('fonts/firasans-bolditalic.otf') format("opentype");
    src: url('fonts/firasans-bolditalic.woff') format('woff');
    src: url('fonts/firasans-bolditalic.ttf') format('truetype');
}

@font-face {
    font-family: "Fira sans extrabolditalic";
    src: url('fonts/firasans-extrabolditalic.ttf') format('truetype');
    src: url('fonts/firasans-extrabolditalic.ttf') format('truetype');
    src: url('fonts/firasans-extrabolditalic.ttf') format('truetype');
}